$SigninWidthL: 35%;
$SigninWidthM: 50%;
$SigninWidthS: 90%;

.form-signin {
  margin: 0 auto;
}

@media only screen and (max-width: 600px) {
  .form-signin {
    width: $SigninWidthS;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
    .form-signin {
    width: $SigninWidthM;
  }
}
@media only screen and (min-width: 901px) {
    .form-signin {
    width: $SigninWidthL;
  }
}
